<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDauVEHWlkO-S9PPpnR2v3xeYdjXBWSvfU</string>
	<key>GCM_SENDER_ID</key>
	<string>1003756781656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airesSoftStudio.inviteMe</string>
	<key>PROJECT_ID</key>
	<string>invite-me-32a07</string>
	<key>STORAGE_BUCKET</key>
	<string>invite-me-32a07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003756781656:ios:69049e97c4cb07fd47ca2d</string>
</dict>
</plist>